<header>
	<h1><img src="img/index/logo.png" alt="logo"></h1>
	
	<nav>
	</nav>

	<div class="nav">
		<div class="nav-row">
			<div><a href="index.html">首页</a></div>
			<div><a href="abs.html">公司介绍</a></div>
			<div><a href="terminal.html">云柜终端</a></div>
			<div><a href="platform.html">终端平台</a></div>
		</div>
		<div class="nav-row">
			<div><a href="case1.html">案例介绍</a></div>
			<div><a href="business.html">商务中心</a></div>
			<div><a href="ad.html">广告合作</a></div>
			<div><a href="latest.html">最新动态</a></div>
		</div>
	</div>
</header>