<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>江苏云柜</title>
    <meta name="description" content="Your description.">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Your title">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="img/favicon.ico">  

    <!-- build:css css/swiper.min.css -->
    <link rel="stylesheet" type="text/css" href="./css/swiper.min.css">
    <!-- endbuild -->
    <!-- build:css css/index.css -->
    <link rel="stylesheet" href="./css/index.css">
    <!-- endbuild -->
  </head>
