@charset 'utf-8';
@import  'utils/mixins', 'utils/functions';

* {
	box-sizing: border-box;
}

body {
	font-size: $fontSize;
	text-align: center;
	color: $fontColor;
	max-width: $maxwidth;
	margin: 0 auto;
	cursor: pointer;

	&.overflow {
		@include size(100%);
		overflow: hidden;
	}
}

a {
	color: inherit;
}

img {
	display: block;
	margin: 0 auto;
}

address {
	font-style: normal;
}

.shade {
	@include fixed(top 0 left 0);
	@include size(100%);
	background-color: rgba(0, 0, 0, .3);
	z-index: 1;
	display: none;
}