@charset 'utf-8';
@import  'utils/mixins', 'utils/functions';

* {
	box-sizing: border-box;
}

body {
	font-size: $fontSize;
	text-align: center;
	color: $fontColor;
	max-width: $maxwidth;
	margin: 0 auto;
}

a {
	color: inherit;
}

img {
	display: block;
	margin: 0 auto;
}

address {
	font-style: normal;
}