@charset 'utf-8';
@import  'utils/mixins', 'utils/functions';

footer {
	@include size(100%, auto);
	background-color: #e5e5e5;
	padding: 8px 0;
	text-align: left;
	text-indent: $textIndent;

	p {
		font-size: $fontSize0;
		color: $fontColor2;
		
		&:first-child {
			color: $fontColor1;
			font-size: $fontSize;
			line-height: 40px;
			padding-left: 30px;
			background: url('../img/index/weixin.png') $textIndent no-repeat;
			background-size: auto 60%;
		}

		&:nth-child(2) {
			padding-top: .5em;
			border-top: 1px solid #ccc;
		}
	}
}