@charset 'utf-8';
@import  'utils/mixins', 'utils/functions';

$height: 54px;
$logo-height: 30px;
$nav-height: 50px;

body {
	padding-top: $height;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	@include size(100%, auto);
	// border-bottom: 1px solid #f2f2f2;
	z-index: 10;

	// 返回
	.back {
		@include absolute(left 0 top 0);
		@include size(16px);
		border: 1px solid black;
		border-right: 0;
		border-bottom: 0;
		display: block;
		margin: 10px 20px;
		transform: rotate(-45deg);
	}
	// 页面主题
	h1 {
		@include size(100%, $height);
		background-color: #121d2c; //#3190e8
		padding: 9px 0;
		// background: rgba(84, 141, 237, 1);
		line-height: $height;
		// color: #fff;
	}
	img {
		@include size(auto, 36px);
		background-color: #fff;
		border-radius: 2px;
		margin-left: $textIndent;
	}
}

.nav {
	@include size(100%, $nav-height);
	@include absolute(top $height - 100px left 0 right 0);
	max-width: $maxwidth;
	margin: 0 auto;
	line-height: $nav-height;
	background: rgba(0, 0, 0, .6);
	transform: translateY(0);
	transition-duration: .5s;
	display: table;
	z-index: -1;

	&.active {
		transform: translateY(100px);
	}

	.nav-row {
		display: table-row;

		& > div {
			display: table-cell;
		}
	}

	a {
		@include size(100%);
  	display: block;
  	color: #fff;

		&:active {
			color: #3475c9;
		}
	}
}
// 导航按钮
nav {
	@include size($height);
	float: right;
	margin: 0 auto;
	margin-top: -$height;
	background: url("../img/index/nav.png") center no-repeat;
	background-size: 40%;
}	




