@charset 'utf-8';
@import  'sandal/core', 'utils/mixins', 'utils/functions';
@import  'base', 'header', 'footer', 'utils/list', 'utils/table',
				 'utils/image-text', 'utils/pages', 'utils/news', 'utils/scroll';

main {
	background-color: #fff;
	padding-bottom: 30px;
	min-height: 95vh;

	// &.bgc {
	// 	background-color: #f2f2f2;
	// }

	& > h2 {
		text-indent: $textIndent;
		text-align: left;
		font-size: $fontSize5;
	  color: #329bd5;
	  line-height: 1.25em;
	  margin: 10px 0;

	  p {
	  	font-size: $fontSize3;
	  	color: #333;
	  }
	}

	& > img {
		@include size(100%, auto);
		padding-bottom: 25px;
	}
}

section {
	text-align: left;
	padding-bottom: 10px;
	
	&.padded {
		padding-left: $textIndent;
		padding-right: $textIndent;

		& > :nth-child(n) {
			padding: 0;
		}
	}

	& > :not(img) {
		padding-left: $textIndent;
		padding-right: $textIndent;
	}
	
	& > img {
		@include size(100%, auto);
		padding: 10px 0;
	}

	h2 {
		width: 100%;
		font-size: $fontSize4;
		background-color: #f2f2f2;
		font-weight: bold;
		// border: 1px solid #e3e3e3;
		// border-left: 0;
		// border-right: 0;

		&:before {
			content: '';
			@include absolute(left 0);
			width: 5px;
			height: 44px;
			background-color: #1591d2;
		}
	}

	h3 {
		font-size: $fontSize3;
		color: black;
		line-height: 1.25em;
		margin: 10px 0;

		p {
			font-size: $fontSize2;
		}
	}

	h5 {
		font-size: $fontSize;
		font-weight: normal;
	}

	ul {
		p {
			font-size: $fontSize0;
			color: $fontColor1;
		}
	}

	.p-title {
		font-size: $fontSize1;
	}
}
.phone, .person{
	color: #1591d2;
	font-size: $fontSize3;
}
.person {
	font-size: $fontSize2;
}

.desc {
	// text-indent: 2em;
}

.city-addr {
	@include size(100%, auto);
	@extend %clearfix;
	margin: 0 auto;
	padding: 8px 0;
	font-size: $fontSize0;

	li {
		float: left;
		width: 33.3%;
		text-indent: 14px;
		padding: 6px 0;
		background: url("../img/business/water.png") left no-repeat;
		background-size: 12px 16px;
	}
	
}


.connect-us {
	section {
		line-height: 2em;
	}

	address {
		margin-top: 1em;
	}
}

section iframe {
	@include size(100%, 280px);
	padding: 10px 0;
	border: 0;
}
