@charset 'utf-8';
@import  'utils/mixins', 'utils/functions';

.image-text {
	text-align: center;
	padding: 10px 0 ;
	background-color: #fff;
	line-height: 1.75em;

	&:nth-child(n) {
		// margin-bottom: 10px;
	}

	img {
		@include size(100%, auto);
		padding: 0 0 10px;
	}

	address {
		font-size: 15px;
	}

	p {
		font-size: 14px;
		margin: 0 auto;
	}
}