@charset 'utf-8';
@import  'sandal/core', 'utils/mixins', 'utils/functions';
@import  'base','header','footer';
// begin css coding...

.wrapper {
	// border: 1px solid #999;

	img {
		@include size(100%, auto);
	}
}

main {
	background-color: #fff;
	@include size(100%, auto);
}

section {
	padding-top: 10px;

	&.color1 {
		background-color: #fefbf6;
	}

	h2 {
		font-size: 2em;
	}

	p {
		padding: 0 1em;
	}

	a {
		line-height: 2em;
		display: block;
		color: #3378c5;
	}

	img {
		@include size(100%, auto);
		padding: 5px 0;
	}
}