@charset 'utf-8';
@import  'utils/mixins', 'utils/functions';

.tabs {
	@extend %clearfix;
	// padding: 10px;
}

.tabs-title {
	@include size(100%, 33px);
	border-bottom: 1px solid #e7e7e7;
	margin: 0 auto;

	li {
		// width: auto;
		// display: inline-block;
		float: left;
		padding: 5px 30px;
		border: 1px solid #e7e7e7;
		// border-bottom: 0;

		&:first-child {
			border-right: 0; 
		} 

		&.active {
			border-top: 1px solid #1a9afb;
			border-bottom-color: #fff;
		}
	}
}

.tabs-content {
	border: 1px solid #e7e7e7;
	border-top: 0;
	padding: 10px;
	display: none;
}

.tabs0 {
	display: block;
}

